/*

                                Configuration File to run NGS-PreProcess pipeline

                                This Configuration file has the main parameters for
                                running the pipeline with Illumina data

                                After configuring. The pipeline must be executed
                                as follows:

                                USAGE: nextflow run fmalmeida/NGS-preprocess -c ./illumina_data.config

Any doubts: Felipe M. Almeida <falmeida@aluno.unb.br>

*/

// Default parameters. They are meant to be overwritten!

params {
  // General Parameters
  // Output folder name
  outDir = ''

  // Number of threads to be used.
  threads = 2

  // Path to Short Reads.
  // Unpaired reads, examples: 'ERR1*.fastq' or 'ERR1023775.fastq'
  // Paired end reads, examples: 'ERR1023775_{1,2}.fastq' or 'ERR*_{1,2}.fastq'
  shortreads = 'ERR1023775_{1,2}.fastq'

  // Reads are paired or unpaired?
  // 1 is unpaired; 2 is paired
  reads_size = 2

  // TrimGalore Parameters
  // Trim based on Phred quality
  quality_trim = 20

  // These are the parameters used to set the number of bases to clip from
  // 5' end and 3' end of paired end reads in TrimGalore. 0 < value < read length.

  // Clip from 5' end. r1 means the first read pair and r2 the second.
  // If unpaired, r1 is the parameter to be set.
  clip_r1 = 0
  clip_r2 = 0

  // Clip from 3' end. r1 means the first read pair and r2 the second.
  // If unpaired, r1 is the parameter to be set.
  params.three_prime_clip_r1 = 0
  params.three_prime_clip_r2 = 0

  // Lighter error correction parameters

  // Set wheter to run or not lighter correction step.
  params.lighter_execute = false

  // Which k-mer to use. Check Ligther's manual (https://github.com/mourisl/Lighter)
  lighter_kmer = 21

  // Bacterial (approximate) Genome Size
  genomeSize = 5600000

  // Lighter alpha parameter. Rule of thumb: (7/C) where C is coverage.
  // If left blank, Lighter will automatically calculate the best value.
  lighter_alpha = 0.05

  // FLASH - Software used to merge reads if wanted.

  // Set to true or false if you want to execute its process.
  flash_execute = false

}

/*
 * Configuring Nextflow Scopes.
 * Enable or not the production of Nextflow Reports
 */

//Trace Report
trace {
    enabled = false
    file = "${params.outDir}" + "/annotation_pipeline_trace.txt"
    fields = 'task_id,name,status,exit,realtime,cpus,%cpu,memory,%mem,rss'
}

//Timeline Report
timeline {
    enabled = false
    file = "${params.outDir}" + "/annotation_pipeline_timeline.html"
}

//Complete Report
report {
    enabled = false
    file = "${params.outDir}" + "/annotation_pipeline_nextflow_report.html"
}

// DO NOT CHANGE. It will probablye cause the pipeline to crash.
//Queue limit
executor.$local.queueSize = 1
//Docker usage
docker.enabled = true
docker.runOptions = '-u $(id -u):root'
