/*
 * Configuration File to run fmalmeida/ngs-preprocess pipeline.
 */

/*
 * Customizable parameters
 */
params {
  /*
   * General (mandatory) Parameters
   */
  outdir = 'output'                                     // Sets output directory
  threads = 2                                           // Sets number of threads to be used

  /*
   * Parameters for short reads preprocessing
   */
  shortreads = ''                                       // Path to shortreads. Examples: 'SRR6307304_{1,2}.fastq' | 'SRR7128258*'
  shortreads_type = ''                                  // Type of shortreads. Values: paired | single
  clip_r1 = 0                                           // Number of bases to ALWAYS clip from 5' (read 1) end, despite base qualities
  clip_r2 = 0                                           // Number of bases to ALWAYS clip from 5' (read 2) end, despite base qualities
  three_prime_clip_r1 = 0                               // Number of bases to ALWAYS clip from 3' (read 1) end, despite base qualities
  three_prime_clip_r2 = 0                               // Number of bases to ALWAYS clip from 3' (read 2) end, despite base qualities
  quality_trim = 20                                     // Quality threshold for trimming
  lighter_execute = false                               // Tells whether or not to execute lighter correction step
  lighter_kmer = 21                                     // Which k-mer to use in lighter correction. Check Ligther's manual (https://github.com/mourisl/Lighter)
  lighter_genomeSize = 0                                // Tells lighter the expected genome size for correction of reads
  lighter_alpha = ''                                    // Lighter alpha parameter. Rule of thumb: (7/C) where C is coverage.
                                                        // If left blank, Lighter will automatically calculate the best value.
  flash_execute = false                                 // Tells wheter or not to merge paired reads with FLASH
}

/*
 * Configuring Nextflow Scopes.
 * Enable or not the production of Nextflow Reports
 */

//Trace Report
trace {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_trace.txt"
    fields = 'task_id,name,status,exit,realtime,cpus,%cpu,memory,%mem,rss'
}

//Timeline Report
timeline {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_timeline.html"
}

//Complete Report
report {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_nextflow_report.html"
}

/*
 * Configuration of nextflow run
 */
executor.$local.queueSize = 1                             // Sets nextflow queue limit.
                                                          // Is the number of processes to run in parallel.

/*
 * Set Docker usage
 * DO NOT CHANGE
 */
docker.enabled = true
docker.runOptions = '-u $(id -u):root'
