/*
 * Configuration File to run fmalmeida/ngs-preprocess pipeline.
 */

/*
 * Customizable parameters
 */
params {
  /*
   * General (mandatory) Parameters
   */
  outdir = 'output'                                     // Sets output directory
  threads = 2                                           // Sets number of threads to be used

  /*
   * Parameters for PacBio longreads preprocessing
   */
  pacbio_bamPath = ''                                   // Path to PacBio subreads in bam format
  pacbio_h5Path = ''                                    // Path to PacBio subreads in legacy h5 format

}

/*
 * Configuring Nextflow Scopes.
 * Enable or not the production of Nextflow Reports
 */

//Trace Report
trace {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_trace.txt"
    fields = 'task_id,name,status,exit,realtime,cpus,%cpu,memory,%mem,rss'
}

//Timeline Report
timeline {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_timeline.html"
}

//Complete Report
report {
    enabled = false
    file = "${params.outdir}" + "/annotation_pipeline_nextflow_report.html"
}

/*
 * Configuration of nextflow run
 */
executor.$local.queueSize = 1                             // Sets nextflow queue limit.
                                                          // Is the number of processes to run in parallel.

/*
 * Set Docker usage
 * DO NOT CHANGE
 */
docker.enabled = true
docker.runOptions = '-u $(id -u):root'
