/*


                                      fmalmeida/ngs-preprocess pipeline configuration file

                    Maintained by Felipe Marques de Almeida
                    Contact: almeidafmarques@outlook.com

                    This file conatains all the parameters that are required by the pipeline.
                    Some of them can be left in blank and other ones need a proper configuration.
                    Every file containing a parameter will contain comments to guide its configuration.




 */

/*


                    Customizable parameters

                    All parameters are set under the params {} function.

                    Please do not change anything before the = sign.

                    Fields must be configured and set with values after the = sign.

                                E.g. param1 = 'user_value_1'


 */

params {
  /*


                    General (mandatory) Parameters


   */

  outdir  = 'output'                                     // Sets output directory
  threads = 2                                            // Sets number of threads to be used

  /*


                      Parameters for PacBio longreads preprocessing

                      Use bamPath or h5Path, not both.


   */

  pacbio_bamPath = ''                                   // Path to PacBio subreads in bam format
  pacbio_h5Path = ''                                    // Path to directory containing legacy *.bas.h5 data (1 per directory)
  pacbio_is_barcoded = false                            // Inform the pipeline that the data is barcoded.

}

/*


                      Configuring Nextflow Scopes.

                      Enable or not the production of Nextflow Reports


 */

//Trace Report
trace {
    enabled = false                                      // Enable? true or false
    file = "${params.outdir}" + "/annotation_pipeline_trace.txt"
    fields = 'task_id,name,status,exit,realtime,cpus,%cpu,memory,%mem,rss'
}

//Timeline Report
timeline {
    enabled = false                                      // Enable? true or false
    file = "${params.outdir}" + "/annotation_pipeline_timeline.html"
}

//Complete Report
report {
    enabled = false                                      // Enable? true or false
    file = "${params.outdir}" + "/annotation_pipeline_nextflow_report.html"
}

/*


                      Setting Docker usage and nextflow running environment

                                        DO NOT CHANGE


 */

executor.$local.queueSize = 1                             // Sets nextflow queue limit.
                                                          // Is the number of processes to run in parallel.
docker.enabled = true
docker.runOptions = '-u $(id -u):root'
